@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

body {
  font-family: var.$font-family-base;
  font-weight: var.$font-weight-normal;
  line-height: var.$line-height-base;
  color: var.$text-color-base;
}
p{
  font-size: var.$font-size-small;
}
ul{
  font-size: var.$font-size-small;
}
hr{
  border-top: 1px solid var.$text-color-blue;
  width: 30%;
  margin: 0 auto;
  @include mix.mobile-l-styles{
    width: 80%;
  }
}

