body {
    background-color: #f2e5e5;
}

.forgot-password-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.forgot-password-form label {
    font-weight: bold;
}

.forgot-password-form input {
    border-radius: 5px;
}

.forgot-password-form button {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    padding: 10px 7px;
    font-weight: bold;
    width: 100%;
}

.forgot-password-form button:hover {
    background-color: #333;
}

.logo-container {
    margin-top: 150px;
    margin-bottom: 100px;
}
