@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;
@use "sass:math";

.about-section{
    background-color: var.$background-color-secondary;
    color: var.$text-color-base;
    .about-wrapper{
        @extend %wrap-80;
        @extend %section;
        .about-content{
            @extend %info-box;
            margin-bottom: 40px;
            text-align: center;          
        }
        .about-section-icons{
            display: flex;
            flex-wrap: wrap;
            @include mix.tablet-styles{
                flex-direction: column;
            }
            .about-section-icons-inner{
                flex-basis: 33.3%;
                @include mix.tablet-styles{
                    width: 50%;
                    margin: 0 auto;
                }
            }
            .about-section-icons-box{
                text-align: center;
                padding: var.$gutter-base;
                @include mix.tablet-styles{
                    padding: 0;
                    margin-bottom: var.$gutter-base;
                }
                i{
                    font-size: var.$gutter-base;
                    color: var.$text-color-blue;
                }
                p{
                    font-size: 16px;
                }
                & p:first-of-type{
                    font-size: math.div(var.$gutter-base, 1.5);
                    font-weight: var.$font-weight-bold;
                    margin-bottom: math.div(var.$gutter-base, 2);
                }
            }
        }
    }
}