@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;
@use "sass:math";

footer{
    background-color: var.$text-color-base;
    .footer-wrapper{
        width: 30%;
        margin: 0 auto;
        text-align: center;
        @extend %section;
        @include mix.tablet-styles{
            width: 60%;
        }
        .footer-icon-holder{
            display: flex;
            justify-content: center;
            margin-bottom: math.div(var.$gutter-base, 1.5);
            a{
                font-size: 25px;
                color: white;
                &:not(:last-child){
                    margin-right: 15px;
                }
            }
        }
        p{  
            color: var.$text-color-primary;
            text-transform: uppercase;
            span{
                font-weight: var.$font-weight-bold;
            }
        }
    }
}