@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;
@use "sass:math";

.form-section{
    background-color: var.$background-color-secondary;
    .form-section-wrapper{
        @extend %section;
        .form-section-content{
            @extend %info-box;
        }
        form{
            width: 35%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            @include mix.tablet-styles{
                width: 80%;
                flex-direction: column;
            }
            input{
                width: 65%;
                margin-right: math.div(var.$gutter-base, 1.5);
                padding: 10px;
                background-color: white;
                border: 1px solid var.$text-color-base;
                @include mix.tablet-styles{
                    width: 100%;
                    margin-bottom: var.$gutter-base;
                    padding: math.div(var.$gutter-base, 2);
                }
            }
            button{
                @extend %button;
                @include mix.tablet-styles{
                    width: 50%;
                    margin: 0 auto;
                }
            }
            & ::placeholder{
                color: var.$text-color-base;
                font-size: math.div(var.$gutter-base, 1.7);
            }
        }
    }
}